.vscode/**
.vscode-test/**
src/**
webview/**
test-log-parser/**
.gitignore
.yarnrc
webpack.config.js
rollup.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!dist/**/*.js
node_modules/**


# Do not package env files
.env
.env.*
**/.env
**/.env.*

# Do not package development scripts
scripts/**

# Do not package development scripts
scripts/**
